/********************** Elements and Main Structure ***********************/
html { height: 100%; }
body { position:absolute; top:0; bottom:0; right:0; left:0; margin:0; padding:0; font-family: sans-serif; }
#root { height: 100%; }
.div { height: 100%; width: 100%; border: solid 1px black;}
.container-fluid { display: flex; height: 100%; }

/****************** First Nav Section - left most sidebar ******************/
#first-nav { background-color: grey; width: 40px; padding: 20px; }

#icon-holder {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: solid black 1px;
  /* width: 40px; */
}

.sidebar-icon {
  width: 40px;
  height: 40px;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
}

/************* Second Nav Section - navigation for main content *************/
#second-nav {
  background-color: yellow;
  min-width: 20%;
  padding: 20px;
}

#nav-link-holder {
  border: solid black 1px;
  height: 100%;
}

.nav-item-box {
  display: flex;
  justify-content: space-between;
}

.nav-icon {
  min-width: 60px;
  min-height: 60px;
  border: black solid 1px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#nav-header-text {
  width: 75%;
}

#project-teamname {
  margin: 0;
}

#project-subtitle {
  margin: 0;
}

.nav-text-box {
  width: 75%;
  border: solid black 1px;
  display: flex;
  align-items: center;
}

.nav-link {
  font-size: 15px;
}

/*************** Main Content Section - main body content area ***************/
#main-content {
  background-color: green;
  width: 80%;
  padding: 20px;
}

.main-header {
  border: solid 1px black;
  height: 10%;
}

.main-header-left {

}

.main-heading {
  margin: 0;

}

.main-body {
  border: solid 1px black;
  height: 90%;
  display: flex;
  flex-direction: column;
}

.main-body-top {
  border: solid 1px black;
  /* height: 50%; */

}

.main-body-bottom {
  border: solid 1px black;
  /* height: 50%; */
}

.top-split {
  display: flex;
  flex-direction: row;
}

.top-left {
  border: solid 1px black;
  width: 50%;
}

.section-title {
  margin-top: 10px;
  margin-bottom: 5px;
}
/*************** Tasks Page - ?? ***************/
.tasks-nav {
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
}

.tasks-nav li {
  margin-right: 10px;
}

/*************** Individual Tickets - ticket container ***************/

.ticket-container {
  border: solid 1px black;
  width: 100%;
  height: 50px;
  margin-top: 5px;
  display: flex;
  background-color: #e6e6e6;
  padding: 5px;
}

.ticket-title-container {
  border: solid 1px black;
  width: 70%;
  height: 100%;

}

.ticket-assignees-container {
  border: solid 1px black;
  width: 15%;
  height: 100%;
}

.ticket-status-container {
  border: solid 1px black;
  width: 15%;
  height: 100%;

}

.labels-container {
  border: solid 1px black;
  height: 10px;
  min-width: 20px;
  display: flex;

}

.label {
  width: 50px;
  height: 8px;
  margin-right: 5px;
  border-radius: 10px;
  border: black solid 1px;
}

.pink {
  background-color: pink;
}

.red {
  background-color: red;
}

.purple {
  background-color: purple;
}
