/********************** Elements and Main Structure ***********************/
html { height: 100%; }
body { position:absolute; top:0; bottom:0; right:0; left:0; margin:0; padding:0; font-family: sans-serif; }
#root { height: 100%; }
.div { height: 100%; width: 100%; border: solid 1px black;}
.container-fluid { display: flex; height: 100%; }
.red { background-color: #ee355d; }
.orange { background-color: #f87024; }
.yellow { background-color: #ffc800; }
.greene { background-color: #83ba33; }
.aqua { background-color: #17a98d; }
.blue { background-color: #178BFA; }
.midblue { background-color: #0068b3; }
.darkblue { background-color: #0c3758; }
.purple { background-color: purple; }
.pink { background-color: #FD82CD; }
#avatar01 { background-image: url('./images/avatar01.png'); }

[draggable=true] {
    cursor: move;
}

/***************************** Landing Page **********************************/
.landing-container {
  height: 100%; width: 100%; display: flex;
}
.landing-left {
  width: 50%;

}

.landing-right {
  width: 50%;
  background-image: url('./images/dino-pattern.png');
  background-size: cover;
  background-position: center;
}

/****************** First Nav Section - left most sidebar ******************/
#first-nav { background-color: #0c3758; width: 40px; padding: 20px 10px 10px 10px; }
#icon-holder { height: 250px; display: flex; flex-direction: column; align-items: center; justify-content: space-around; }
.sidebar-icon { width: 30px; height: 30px; display: flex; align-items: center; justify-content: center; color: #005591; }

/************* Second Nav Section - navigation for main content *************/
#second-nav { background-color: #038a6d; min-width: 20%; }

#nav-link-holder { height: 100%;}
#nav-item-header { display: flex; justify-content: space-between; background-color: #17a98d; margin-bottom: 50px; align-items: center; padding: 0 20px 0 20px; height: 90px;
}
#nav-header-text { width: 75%; margin-right: 20px 0 20px 20px; }
#project-teamname { margin: 0; font-size: 30px; color: yellow; }
#project-subtitle { margin: 0; font-size: 12px; color: white; }
#avatar-icon { display: flex; align-items: center; justify-content: center;  background-image: url('./images/avatar02.png'); background-size: cover; width: 50px; height: 50px;
}


.nav-item-box { display: flex; justify-content: space-between; background-color: #17a98d; margin-bottom: 10px; padding-left: 20px; }

.nav-icon { min-width: 60px; min-height: 40px; display: flex; align-items: center; justify-content: center; }


.nav-text-box { width: 75%; display: flex; align-items: center; }
.nav-link { font-size: 15px; }
.second-icon { color: white; }
.second-text { font-weight: bold; color: white; font-size: 18px; text-decoration: none; }

/*********************** Main Body Content Styling ************************/
#main-content { width: 90%; }
.main-header { height: 50px; padding: 20px 0 20px 40px; background-color: #ededed; display: flex; align-items: center; }

.main-heading { margin: 0 0 5px 0; font-size: 25px; color: #464646; }
.main-sub-heading { font-weight: bold; font-size: 13px; color: #464646;  }

.main-body {
  border: solid 1px red;
  height: 82vh;
  display: flex;
  flex-direction: column;
  padding: 20px 20px 0 20px;
  /* overflow: scroll; */
}

.body-split { display: flex; flex-direction: row; }

.body-left { width: 50%; padding-right: 10px;
  border: solid 1px black;
}

.body-right { width: 50%; padding-left: 10px;
  border: solid 1px black;
}

/*********************** Dashboard Section Styling ************************/
.dash-body {
height: 82vh;
display: flex;
flex-direction: column;
padding: 30px;
width: 72vw;
/* overflow: scroll; */
overflow-y: scroll;
}

.dash-body-split { display: flex; flex-direction: row; justify-content: space-between; }

.dash-body-top {
  /* border: solid 1px black; */
  height: 40%;
}

.dash-body-bottom {
  border: solid 1px #dbdbdb;
  border-radius: 10px;
  background-color: #ebebeb;
  height: 60%;
  margin-top: 25px;
  padding-top: 5px;
  overflow-y: scroll;
}

.dash-title {
  font-weight: bold;
  font-size: 20px;
  color: #464646;
  padding-bottom: 10px;
}

.today-weather-container {
  /* width: 30%; */
  height: 210px;
  background-color: #ffc800;
  margin-right: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  color: white;

  border: solid 1px #dbdbdb;
  /* background-color: #fff; */
  justify-content: center;
}

.forecast-weather-container {
  /* width: 100%; */
  height: 210px;
  margin-left: 10px;
  border: solid 1px #dbdbdb;
  border-radius: 10px;
  /* background-color: #ebebeb; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0 20px 0;
}

.forecast-weather-title {
  font-weight: bold;
}

.forecast-icon {
  background-image: url('./images/weather-partly-cloudy.png');
  background-size: cover;
  background-position: center;
  width: 250px;
  height: 170px;
  margin: 0 20px 20px 20px;
  border: solid 1px black;

}

.weekly-forcast-container {
  /* border: solid 1px black; */
  width: 700px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 20px 0 20px;
}

.forecast {
  /* border: solid 1px black; */
  width: 70px;
  background-color: #178BFA;
  height: 170px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}

.weather-text {
  border: solid 1px black;
}

#weather-icon-1 {
  border: solid 1px black;
  width: 60px;
  height: 60px;
}

.sticky-container {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: row; */
  justify-content: center;
}

.sticky-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 20px;
}

.sticky-button {
  height: 20px;
  width: 20px;
  border: none;
  display: flex;
  justify-content: center;
  background-color: none;
  background-color: Transparent;
  opacity: 0.3;
}

.sticky {
  border: solid 1px black;
  margin: 10px;
  padding: 10px;
  background-color: yellow;
  font-size: 18px;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  width: 190px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.input-note {
  background-color: inherit;
  width: 175px;
  height: 120px;
  font-size: inherit;
  font-family: inherit;
  word-wrap: break-word;
  word-break: break-all;
  margin-top: 20px;
  border: none;
}



/*********************** Tasks Section Styling ************************/
.task-body {
border: solid 1px red;
height: 82vh;
display: flex;
flex-direction: column;
padding: 30px;
width: 72vw;
/* overflow: scroll; */
overflow-y: scroll;
}

.tasks-nav {
  padding: 0;
  margin: 0 0 20px 0;
  display: flex;
  list-style: none;
}

.tasks-nav-li {
  margin: 0 10px 5px 10px;
  font-weight: bold;
  text-decoration: none;
  color: #004dff;
  font-size: 18px;
}

.ticket-container {
  border: solid 1px grey;
  /* width: 100%; */
  /* height: 50px; */
  margin: 15px;
  min-height: 40px;
  display: flex;
  background-color: white;
  border-radius: 5px;
  padding: 5px 0 5px 5px;
}

.ticket-title-container {
  /* border: solid 1px black; */
  width: 75%;
  height: 100%;
  /* padding: 10px; */
}

/* .ticket-title {
  margin: 5px;
  font-size: 15px;
} */

.ticket-hours-container {
  width: 8%;
  /* border: solid 1px black; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  color: grey;
}

.ticket-block {
  border: solid 1px #dbdbdb;
  border-radius: 10px;
  background-color: #dbdbdb;
  margin-bottom: 20px;
  margin-top: 5px;
}

.tickets-section-title {
  font-weight: bold;
  color: #464646;
  margin: 5px;
}

.ticket-title-holder {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 10px;
}

.ticket-title-one {
  /* border: solid 1px black; */
  width: 75%;
}

.ticket-title-two {
  /* border: solid 1px black; */
  width: 15%;

}

.ticket-title-three {
  /* border: solid 1px black; */
  width: 10%;
}

.ticket-title-four {
  width: 10%;
}

.ticket-assignees-container {
  border: solid 1px black;
  width: 18%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ticket-status-container {
  /* border: solid 1px red; */
  width: 10%;
  /* height: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.status {
  /* border: solid 1px black; */
  height: 32px;
  width: 32px;
  border-radius: 20px;
}

.labels-container {
  /* border: solid 1px black; */
  /* height: 10px; */
  min-width: 20px;
  display: flex;

}

.label {
  width: 50px;
  height: 8px;
  margin-right: 5px;
  border-radius: 10px;
  /* border: black solid 1px; */
}



/*********************** Sprint Graphs Styling ************************/
#sprint-body {
  height: 82vh;
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 72vw;
  overflow-y: scroll;
}



.sprint-body-top {
  height: 50%;
}

.sprint-body-bottom { height: 50%; margin-top: 20px; display: flex;
}

.sprint-body-left { width: 50%; padding-right: 10px;
}

.sprint-body-right { width: 50%; padding-left: 10px;
}

.graph-title-container {
  display: flex;
  justify-content: center;
}

.graph-title {
  font-weight: bold;
  font-size: 20px;
  color: #464646;
  padding: 10px;
}

.stackedbarchart-container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  /* height: 800px; */
  border: solid 1px #dbdbdb;
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  justify-content: center;
}

/*********************** Message Board Styling ************************/
#message-body {
  border: solid 1px red;
  height: 82vh;
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 72vw;
  /* overflow: scroll; */
  overflow-y: scroll;
}



#message-form {
  width: 97%;
  height: 50px;
  border: 2px solid grey;
  border-radius: 10px;
  font-size: 20px;
  padding-left: 20px;
}

input, textarea, select, a { outline: none; }

#message-board {
  height: 100%;
  overflow-y: scroll;
  border-top: 1px solid grey;
  bottom: 0;
  margin-left: 10px;
  /* padding-top: 5px;
  margin-bottom: 10px; */
}

.message-container {
  margin-bottom: 15px;
  display: flex;
}

.message-avatar {
  height: 40px;
  width: 40px;
  border: solid 1px black;
}

.message-holder {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.user-name {
  font-weight: bold;
}

.message {
  margin-top: 5px;
  font-size: 17px;
}

.timestamp {
  margin-left: 10px;
}
